.base {
  @include flex(column);
  height: 100%;
  padding: 12px;

  &__wrapper {
    @include flex(column, start, center);
    flex: 1 1 auto;
    max-width: 100%;
    min-height: 100dvh;
    position: relative;
  }

  &__main {
    flex: 1;
    overflow-y: auto;
  }

  &__footer {
    @include flex(row, end, end);
    position: fixed;
    bottom: 16px;
    right: 16px;
  }

  &__header {
    width: 100%;
    margin: 0 32px;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}